/GuessGame/nbproject/private/
/GuessGame/build/
/PrimeNmbr/nbproject/private/
/MethodUseFactorial/nbproject/private/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/TestArray/nbproject/private/
/TestArray/build/
/ReadArray/nbproject/private/
/ReadArray/build/
/BubleSortByCreatingMethod/nbproject/private/
/BubleSortByCreatingMethod/build/
/SearchingArray/nbproject/private/
/SearchingArray/build/
/LearnInheritance/nbproject/private/
/LearnInheritance1/nbproject/private/
/LearnInheritance1/build/
/evdxm1/nbproject/private/
/evdexam2(10-2-26)/nbproject/private/
/evdexam02(10-2-26)/nbproject/private/
