/GuessGame/nbproject/private/
/GuessGame/build/
/PrimeNmbr/nbproject/private/
/MethodUseFactorial/nbproject/private/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/TestArray/nbproject/private/
/TestArray/build/
/ReadArray/nbproject/private/
/ReadArray/build/
/BubleSortByCreatingMethod/nbproject/private/
/BubleSortByCreatingMethod/build/
/SearchingArray/nbproject/private/
/SearchingArray/build/
